<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 mx-auto">
                <table id="tasks-list" class="table table-striped  text-center">
                    <div>
                        <thead>
                            <tr>
                                <th>Todo</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="task in tasks" v-if="!task.isDeleted">
                                <td>{{ task.text }}</td>
                                <td>
                                    <div v-on:click="deleteTask(task.id)" class="btn btn-danger">Delete</div>
                                </td>
                            </tr>
                            <tr>
                                <td><input v-model="newTask" class="form-control"></td>
                                <td>
                                    <div v-on:click="addTask" class="btn btn-success">AddList </div>
                                </td>
                            </tr>

                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>
